# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/taskup

# Binance API Configuration
BINANCE_API_KEY=your_binance_api_key_here
BINANCE_API_SECRET=your_binance_api_secret_here
BINANCE_API_URL=https://api.binance.com
BINANCE_MAIN_EMAIL=your_main_binance_email@example.com

# Next.js Configuration
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000
